[submodule "Dependency/prism"]
	path = Dependency/prism
	url = https://github.com/LeaVerou/prism.git
[submodule "Dependency/hoedown"]
	path = Dependency/hoedown
	url = https://github.com/hoedown/hoedown.git
