{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'base/img/favicons/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'base/img/favicons/apple-touch-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'base/img/favicons/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'base/img/favicons/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'base/img/favicons/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'base/img/favicons/apple-touch-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/img/favicons/apple-touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/img/favicons/apple-touch-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'base/img/favicons/apple-touch-icon-152x152.png' %}">
<link rel="icon" type="image/png" href="{% static 'base/img/favicons/favicon-196x196.png' %}" sizes="196x196">
<link rel="icon" type="image/png" href="{% static 'base/img/favicons/favicon-160x160.png' %}" sizes="160x160">
<link rel="icon" type="image/png" href="{% static 'base/img/favicons/favicon-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'base/img/favicons/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'base/img/favicons/favicon-32x32.png' %}" sizes="32x32">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="{% static 'base/img/favicons/mstile-144x144.png' %}">
<meta name="msapplication-config" content="{% static 'base/img/favicons/browserconfig.xml' %}">
