<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
{{{ titleTag }}}

{{#each styleTags }}
{{{ this }}}
{{/each }}

</head>

<body>

{{{ body }}}

{{#each scriptTags }}
{{{ this }}}
{{/each }}

</body>

</html>
